@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/frenteUni.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    /* 
    clip-path hace que el contenido de la imagen se muestre en el area de la imagen
    */
    z-index: -1;
    

}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about {
    text-align: center; /* centros */
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto)); /* creamos unicamente las columnas */
}



.about__icons {
    display: grid; 
    gap: 1em; /* espaciado entre elemtos */
    justify-items: center;
    width: 260px;
    overflow: hidden;   /* para que no se pase y de hacerlo los oculta */
    margin: 0 auto; /* centra el contenedor */
}

.about__icon {
    width: 40px; 
}

/* Knowledge */
/* 
css background patterns, link : magicpattern.desing/tools/css-backgrounds/
*/

.knowledge {
    /* ------------- */
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    /* ------------- */
    overflow: hidden; /* para que no se pase y de hacerlo los oculta */
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr; /* creamos unicamente las columnas   */
    gap: 1em;
    align-items: center; /* centra el contenedor verticalmente*/
}

.knowledge__picture{
    max-width: 500px; /* para que no se pase y de hacerlo los oculta */
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%; /* para que no se pase y de hacerlo los oculta */
    display: block; 
    border-radius: 50% 50% ;
    /*  

    block: para que se vea el elemento
    
    */
}

/* price */

.price{
    text-align: center; 
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    /* 
    wrap : para que se puedan ver todos los elementos en una sola linea 
    */
    gap: 2.5em; /* espaciado entre elemtos */
    justify-content: space-evenly; 
    /* 
    space-evenly: para que se distribuyan de forma equitativa
    */
    align-items: center; /* centra el contenedor verticalmente*/
}

.price__element{
    background-color: #e5e5f7; 
    text-align: center; 
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #FF7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-cta: #9F3919;
    --color-cta: #FFF;
    --color-items: #fff;
}


.price__name{
    color: var(--color-plan); 
    /* 
    var(--color-plan): para que se vea el elemento 
    */
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    display: block; 
    /* 
    block: para que se vea el elemento
    */
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* Testimony */

.testimony{
    background-color: #e5e5f7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    /* 
    max-content: para que se vea el elemento
    */
    justify-content: space-between; 
    /* 
    space-between: para que se distribuyan de forma equitativa
    */
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    /* 
    grid-column y grid-row hace referencia a la posicion del elemento en el grid
    */
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    /* 
     unset hace referencia a que el elemento se vea 
    */
    opacity: 1; 
    transition: opacity 1.5s ease-in-out;
    /* 
    transition hace una transicion de un estado a otro tambien hace que la animacion de js se vea bien :v
    */
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    /* 
    object-fit hace que se ajuste el contenido al tama침o del elemento
    */
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer; 
    /* 
     point hace cuando el cursor esta sobre el elemento 
    */
}

/* Questions */

.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0; /* hace que la flecha se mueva hacia la right osea titulo ----30px---- fechita */
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;  
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
    /* 
    space-between: para que se distribuyan de forma equitativa 
    */
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

/* agregamos un modigficador para rotar :v */
.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Footer */

.footer{
    background-color: #1D293F;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
    /* 
    margin-bottom cumple la funci칩n de separar el elemento con el resto de la pagina
    */
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    /* hacemos que los elementos se peguen a las esquinas luego centramos y le damos un borde blanco queremso la cabeza de cristian >:v */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
    /* wrap es para que cuando se achica la pantalla hacemso que los elemetos se desprenda hacia abajo */
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

/* es el padre del anterior */
.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto; /* lo madamos a la derecha */
    display: inline-block; /* lo hacemos una linea */
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none; 
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

/* ----------------------Media queries------------------- */

@media (max-width:800px){
    /* apartie de los 800px empezamos a cambiar el layout */
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* hace que los elemetos esten un debajo de otro 
        cristian pagate la comoda o renuncio jajaja */
        justify-content: space-evenly; 
        /* 
        space-evenly: para que se distribuyan de forma equitativa
        */
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        /* sera un modifcador de nav__link que al momento que un elemeto tenga esta propiedad haga que esto exista */
        --show: block;
        opacity:1 ;
        pointer-events: unset;  /* hacemos que el cursor pueda interactuar con el elemento */
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
        /* 
        rem es una unidad de medida que se usa para definir el tama침o de fuente en base a la medida de la p치gina
        */
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
        /* 
        1/-1 es para que se ajuste a todo el espacio disponible osea centrarlo dinamicamente 
        */
    }


    .knowledge__container{
        grid-template-columns: 1fr; /* hacemos que solo una columna se muestre */
        grid-template-rows: max-content 1fr; /* hacemos que el primer elemento se ajuste a todo el espacio disponible y el segundo elemento se ajuste a una sola fila */
        gap: 3em; /* separamos los elementos */
        text-align: center; /* centramos el texto */
    }

    .knowledge__picture{
        grid-row: 1/2; /* hacemos que el primer elemento se ajuste a una sola fila */
        justify-self: center; /* centramos el elemento */
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content; 
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap; /* hacemos que los elementos se desprenda hacia abajo */
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1; /* hacemos que el elemento ocupe todo el espacio disponible */
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        /* 
        flex-basis: 100% es para que el elemento ocupe todo el espacio disponible
        */
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}
